/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
     * Remove text-shadow in selection highlight:
     * https://twitter.com/miketaylr/status/12228805301
     *
     * Vendor-prefixed and regular ::selection selectors cannot be combined:
     * https://stackoverflow.com/a/16982510/7133471
     *
     * Customize the background color to match your design.
     */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
     * A better looking default horizontal rule
     */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
     * Remove the gap between audio, canvas, iframes,
     * images, videos and the bottom of their containers:
     * https://github.com/h5bp/html5-boilerplate/issues/440
     */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
     * Remove default fieldset styles.
     */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
     * Allow only vertical resizing of textareas.
     */

textarea {
  resize: vertical;
}

body {
  background-color: var(--neutral-background);
  color: var(--text-normal);
  font-family: var(--font-body);
}

main {
  padding-top: calc(var(--space-48) * 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  font-size: calc(var(--size-16) * 1rem);
  line-height: 30px;
}

label {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: 0.15px;
}

input {
  background-color: var(--neutral-background);
  border: 1px solid rgba(17, 21, 28, 0.15);
  border-radius: 8px;
  box-shadow: inset 0px 2px 8px rgba(17, 21, 28, 0.15);
  padding: 0.5rem;
  height: calc(var(--space-48) * 1rem);
}
